INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
data/.cvsignore
data/Makefile
data/Makefile.in
data/icons/Makefile
data/icons/Makefile.in
data/phosphorus.desktop
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
po/
src/.deps/
src/Makefile
src/Makefile.in
src/background.o
src/callbacks.o
src/phosphorus
src/phosphorus.o
src/ui.o
po/*.gmo
po/*.mo
po/*.pot
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/cat-id-tbl.c
po/messages
po/missing
po/po2tbl.sed
po/po2tbl.sed.in
po/stamp-cat-id
