[Desktop Entry]
Type=Application
Name=Phosphorus
GenericName=A simple wallpaper setter.
GenericName[nl]=Een simpele achtergrond-insteller.
Comment=Choose an image and set it as wallpaper.
Comment[nl]=Kies een afbeelding en stel deze in als achtergrond.
Icon=preferences-wallpaper
Terminal=false
Exec=phosphorus
Categories=GNOME;GTK;Utilies;
